<?xml version="1.0"?>
<config>
    <modules>
        <Demac_Poll>
            <version>0.1.0</version>
        </Demac_Poll>
    </modules>
    <global>
        <models>
            <demac_poll>
                <class>Demac_Poll_Model</class>
                <resourceModel>demac_poll_resource</resourceModel>
            </demac_poll>
            <demac_poll_resource>
                <class>Demac_Poll_Model_Resource</class>
                <entities>
                    <poll_table>
                        <table>demac_poll_table</table>
                    </poll_table>
                </entities>
            </demac_poll_resource>
        </models>
        <blocks>
            <demac_poll>
                <class>Demac_Poll_Block</class>
            </demac_poll>
        </blocks>
        <helpers>
            <demac_poll>
                <class>Demac_Poll_Helper</class>
            </demac_poll>
        </helpers>
        <resources>
            <demac_poll_setup>
                <setup>
                    <module>Demac_Poll</module>
                </setup>
            </demac_poll_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <demac_poll>
                    <file>demac_poll.xml</file>
                </demac_poll>
            </updates>
        </layout>
    </frontend>
</config>